.bg-light{
    background-color: #a6d3ff !important;
}

.nav-link{
    color: #ffffff !important;
    &:hover {
        color: #227cdb !important;
    }
}
.navbar-brand{
    font-family: 'Bree Serif', serif;
}

.active{
    color: #227cdb !important;
}

#brand{
    margin-top: 10%;
    text-align: center;   
    font-family: 'Bree Serif', serif;
}

.login {
    form {
        label {
    background-color: #a6d3ff;
    border: 1px solid #7899ff;
    &:hover {
        background-color: #227cdb !important;
    }
        }
        input{
            border: 1px solid #7899ff;
        }
    }
}

#remdisplay
{
    display: inline;
    margin-left: 5px;
    margin-right: 10px;
}

.login{
    height: 435px;
}

.register form input[type="submit"], .login form input[type="submit"] {
	width: 100%;
	padding: 15px;
	margin-top: 20px;
	background-color: #94d0f2;
	border: 0;
	cursor: pointer;
	font-weight: bold;
	color: #ffffff;
	transition: background-color 0.2s;
	margin-top: 60px;
    margin-bottom: 20px;
    &:hover {
        background-color: #227cdb;
    }
}